.loginFrame {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
    padding: 16px;
    border-radius: 8px;
}

.bntFrame {
    display: flex;
    justify-content: space-between;

    input {
        cursor: pointer;

        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 8px;
        border: 1px solid lightgray;
        height: 24px;
        padding-left: 4px;
        outline: none;
        background-color: white;
        box-sizing: border-box;

        width: 40%;
    }
}

.inputField {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 8px;
    border: 1px solid lightgray;
    height: 24px;
    padding-left: 4px;
    outline: none;
    background-color: white;
    box-sizing: border-box;

    &:focus {
        background-color: aquamarine;
    }
}

input[type="submit"] {
    &:disabled {
        background-color: darkgrey;
    }
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;

    &:hover {
        -webkit-box-shadow: 0 0 0px 1000px inset lightblue;
        background-color: lightblue;
    }

    &:focus {
        -webkit-box-shadow: 0 0 0px 1000px inset aquamarine;
        background-color: aquamarine;
    }

    // &:invalid {
    //     -webkit-box-shadow: 0 0 0px 1000px lightcoral inset !important;
    //     background-color: red !important;
    // }
}


.invalid {
    border-color: red !important;
}

.errorMessage {
    height: 14px;
    color: red;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-size: 10px;
}

.passwordFrame {
    display: flex;
    align-items: center;
    padding-right: 4px;

    &:has(>input:focus) {
        background-color: aquamarine;
    }

    >input {
        background-color: transparent;
        border: none;
        outline: none;

    }
}